@model FilterViewModel

<section class="section mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form class="form-inline">
                    <div class="sort">
                        <div class="filter__group filter__group--sort">
                            <label for="genres" class="filter__label">Genres:</label>
                            <div class="filter__select-wrap">
                                <select class="filter__select form-control" id="genres" multiselect-max-items="2" multiselect-select-all="true" multiple asp-items="Model.Genres" asp-for="GenreIds">
                                </select>
                            </div>
                        </div>

                        <div class="filter__group filter__group--sort">
                            <label for="genres" class="filter__label">Platforms:</label>
                            <div class="filter__select-wrap">
                                <select class="filter__select form-control" id="platforms" multiselect-max-items="2" multiselect-select-all="true" multiple asp-items="Model.Platforms" asp-for="PlatformIds">
                                </select>
                            </div>
                        </div>

                        <div class="filter__group filter__group--sort">
                            <label for="sort" class="filter__label">Sort by:</label>
                            <div class="filter__select-wrap">
                                <select class="filter__select form-control" asp-items="Model.SortTypes" asp-for="SortItem">
                                    <option value="">Default</option>
                                </select>
                            </div>
                        </div>
                        <input class="form-control" type="hidden" value="@Model.SearchText" asp-for="SearchText" />
                        <div class="nav-item ml-auto mr-3">
                            <button type="submit" class="header__login nav-link" style="width:10rem; color:white">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- catalog -->
        <div class="row category">
            @foreach (var item in @Model.Products)
            {
                <div class="col-12 col-sm-6 col-md-4 col-xl-3 col-xl-20">
                    <div class="card card--catalog">
                        <a href="~/details.html" class="card__cover">
                            <img src="~/img/games/@item.PicturePath" alt="">
                        </a>

                        <ul class="card__platforms">
                            <li class="ps" style="background-color:black;">
                                <img width="100%" style="object-fit:fill;" src="~/img/partners/@item.PlatformLogo" alt="" />
                            </li>
                        </ul>

                        <div class="card__title">
                            <h3><a href="~/details.html">@item.GameName</a></h3>
                            @if (item.DiscountRate != 0)
                            {
                                var discountedPrice = item.UnitPrice * item.DiscountRate / 100;
                                <span>$@discountedPrice<s>$@item.UnitPrice</s></span>
                            }
                            else
                            {
                                <span>$@item.UnitPrice</span>
                            }
                        </div>

                        <div class="card__actions justify-content-center ">
                            <button class="card__buy" type="button">Buy</button>
                        </div>
                    </div>
                </div>
            }
            <!-- paginator -->
            @*<div class="col-12">
                <div class="paginator">
                <div class="paginator__counter">
                15 from 144
                </div>

                <ul class="paginator__wrap">
                <li class="paginator__item paginator__item--prev">
                <a href="~/#">
                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='244 400 100 256 244 112' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                </a>
                </li>
                <li class="paginator__item paginator__item--active"><a asp-controller="Home" asp-action="Categories">1</a></li>
                <li class="paginator__item"><a asp-controller="Home" asp-action="Categories">2</a></li>
                <li class="paginator__item"><a asp-controller="Home" asp-action="Categories">3</a></li>
                <li class="paginator__item paginator__item--next">
                <a asp-controller="Home" asp-action="Categories">
                <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                </a>
                </li>
                </ul>
                </div>
                </div>*@
            <!-- end paginator -->
            @* Bizim Paginator Başlangıç *@

            @{
                var pi = Model.PaginationInfo;
                var query = Context.Request.QueryString.Value;
                var controller = Context.Request.RouteValues["controller"].ToString();
                var action = Context.Request.RouteValues["action"].ToString();
            }
            <div class="col-12">
                <div class="paginator">
                    <div class="paginator__counter">
                        Showing @pi.Start - @pi.End of @pi.TotalItems items
                    </div>
                    <ul class="paginator__wrap ">
                        @if (pi.HasPrevious)
                        {
                            <li class="paginator__item paginator__item--prev">
                                @{
                                    var hrefQuery = @Model.HrefMaker(query, pi.CurrentPage - 1, controller, action);
                                }
                                <a href="@hrefQuery">
                                    <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='244 400 100 256 244 112' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='120' y1='256' x2='412' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                                </a>
                            </li>
                        }

                        @foreach (int i in pi.PageNumbers)
                        {
                            if (i == -1)
                            {
                                <li class="paginator__item disabled">
                                    <a>&hellip;</a>
                                </li>
                            }
                            else
                            {
                                <li class="paginator__item @(i == pi.CurrentPage ? "paginator__item--active" : "")">
                                    @{
                                        var hrefQuery = @Model.HrefMaker(query, i, controller, action);
                                    }
                                    <a href="@hrefQuery">@i</a>
                                </li>
                            }
                        }

                        @if (pi.HasNext)
                        {
                            <li class="paginator__item paginator__item--next">
                                @{
                                    var hrefQuery = @Model.HrefMaker(query, pi.CurrentPage + 1, controller, action);
                                }
                                <a href="@hrefQuery">
                                    <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='268 112 412 256 268 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /><line x1='392' y1='256' x2='100' y2='256' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            @* Bizim Paginator Bitiş *@

        </div>
        <!-- end catalog -->
    </div>
</section>
<!-- end section -->