@model ProductDetailsViewModel
@{
    ViewData["Title"] = "Details";
}

<!-- section -->
<section class="section section--first section--bg" data-bg="img/bg.jpg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="details">
                    <div class="details__head">
                        <div class="details__cover">
                            <img src="~/img/games/@Model.ImagePath" alt="GameCover" />
                            <a href="@Model.TrailerUrl"
                               class="details__trailer">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="512"
                                     height="512"
                                     viewBox="0 0 512 512">
                                    <path d="M112,111V401c0,17.44,17,28.52,31,20.16l247.9-148.37c12.12-7.25,12.12-26.33,0-33.58L143,90.84C129,82.48,112,93.56,112,111Z"
                                          style="
                          fill: none;
                          stroke-miterlimit: 10;
                          stroke-width: 32px;
                        " />
                                </svg>
                                <span>Watch trailer</span>
                            </a>
                        </div>

                        <div class="details__wrap">
                            <h3 class="details__title">
                                @Model.GameName
                            </h3>

                            <ul class="details__list">
                                <li><span>Release date:</span> @Model.ReleaseDate.ToString("dd-MM-yyyy")</li>
                                <li>
                                    <span>Genres:</span> @string.Join(", ", Model.Genres)
                                </li>
                                <li><span>Developer:</span> @Model.Developer</li>
                                <li><span>Publisher:</span> @Model.Publisher</li>
                                <li><span>Min Age:</span> @Model.MinimumAge</li>
                            </ul>
                        </div>
                    </div>

                    <div class="details__cart">
                        <span class="details__cart-title">Platform:</span>
                        <ul class="details__platforms">
                            <li class="ps" style="background-color:black;">
                                <img style="object-fit:fill; width:100%;" src="~/img/partners/@Model.PlatformLogo" alt="" />
                            </li>

                        </ul>

                        <span class="details__cart-title">PRICE</span>
                        <div class="details__price">
                            @if (Model.DiscountRate != 0)
                            {
                                var discountedPrice = (Model.UnitPrice * (100 - Model.DiscountRate) / 100).ToString("N2");
                                <span>$@discountedPrice</span><s>$@Model.UnitPrice</s><b>@Model.DiscountRate% OFF</b>
                            }
                            else
                            {
                                <span>$@Model.UnitPrice</span>
                            }
                        </div>
                        <div class="details__actions">
                            <a data-add-item="@Model.Id" href="#" class="details__buy" type="button">Buy Now</a>
                        </div>
                    </div>

                    <div class="details__content">
                        <div class="row">
                            <div class="col-12 col-xl-4 order-xl-2">
                                <!-- requirements -->
                                <div class="requirements">
                                    <span class="requirements__title">Minimum requirements:</span>
                                    <p class="comments__text " style="white-space: pre-line; ">@Model.GameRequirements</p>
                                </div>
                                <!-- end requirements -->
                            </div>

                            <div class="col-12 col-xl-8 order-xl-1">
                                <!-- comments -->
                                <div class="comments comments--details">
                                    <ul class="comments__list">
                                        <li class="comments__item">
                                            <p class="comments__text " style="white-space: pre-line;">
                                                <span style="font-size: 2rem; color: #fff;">Description</span>
                                                @Model.Description
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                                <!-- end comments -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->
<!-- section -->
<section class="section section--last">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title">Latest releases</h2>

                    <div class="section__nav-wrap">
                        <a asp-controller="Home" asp-action="Categories" class="header__login">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel1">

        @foreach (var item in Model.ProductsNewRelease)
        {
            <div class="card">
                <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id" class="card__cover">
                    <img src="~/img/games/@item.PicturePath" alt="">
                    <span class="card__new">New</span>
                </a>

                <ul class="card__platforms">
                    <li class="ps" style="background-color:black;">
                        <img style="object-fit:fill; width: 100%;" src="~/img/partners/@item.PlatformLogo" alt="" />
                    </li>
                </ul>

                <div class="card__title">
                    <h3><a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id">@item.GameName</a></h3>
                    @if (item.DiscountRate != 0)
                    {
                        var discountedPrice = (item.UnitPrice * (100 - item.DiscountRate) / 100).ToString("N2");
                        <span>$@discountedPrice<s>$@item.UnitPrice</s></span>
                    }
                    else
                    {
                        <span>$@item.UnitPrice</span>
                    }
                </div>

                <div class="card__actions justify-content-center">
                    <a data-add-item="@item.Id" href="#" class="card__buy" type="button">Buy Now</a>
                </div>
            </div>
        }

    </div>
    <!-- end carousel -->
</section>
<!-- end section -->

@section Scripts{
<script>
    $("[data-add-item]").click(function (event) {
        event.preventDefault();
        var id = $(this).data("add-item");
        $.ajax({
            url: "@Url.Action("AddToCart", "Cart")",
            type: "post",
            data: { productId: id, quantity: 1 },
            success: function (data) {
            $("#navCartItemsCount").text(data.totalItemsCount);
            toastr.success("The item has been added to cart.");
            }
        })
    });
</script>
}