@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- home -->
<section class="section section--bg section--first" data-bg="img/bg.jpg">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--title"><b>Best games</b> of this month</h2>

                    <div class="section__nav-wrap">
                        <button class="section__nav section__nav--bg section__nav--prev" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--bg section__nav--next" type="button" data-nav="#carousel0">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>



    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--big" id="carousel0">
        <!-- big card -->
        @foreach (var item in Model.ProductsEditorsChoice)
        {
            <div class="card card--big">

                <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id" class="card__cover">
                    <img src="~/img/games/@item.PicturePath" alt="">
                </a>

                <div class="card__wrap">
                    <div class="card__title">
                        <h3><a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id">@item.GameName</a></h3>
                    </div>

                    <ul class="card__list">
                        <li><span>Release date:</span> @item.ReleaseDate</li>
                        <li><span>Genres:</span> @item.Genres</li>
                    </ul>

                    <ul class="card__platforms">
                        <li class="ps" style="background-color:black;">
                            <img width="100%" style="object-fit:fill;" src="~/img/partners/@item.PlatformLogo" alt="" />
                        </li>
                    </ul>
                    @if (item.DiscountRate != 0)
                    {
                        var discountedPrice = (item.UnitPrice * (100 - item.DiscountRate) / 100).ToString("N2");
                        <div class="card__price">
                            <span>$@discountedPrice</span><s>$@item.UnitPrice</s><b>@item.DiscountRate% OFF</b>
                        </div>
                    }
                    else
                    {
                        <div class="card__price">
                            <span>$@item.UnitPrice</span>
                        </div>
                    }

                    <div class="card__actions">
                        <a data-add-item="@item.Id" href="#" class="card__buy" type="button">Buy Now</a>
                    </div>

                </div>
            </div>
            <!-- end big card -->
        }
    </div>
    <!-- end carousel -->
</section>
<!-- end home -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title">Latest releases</h2>

                    <div class="section__nav-wrap">
                        <a asp-controller="Home" asp-action="Categories" class="header__login">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel1">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel1">

        @foreach (var item in Model.ProductsNewRelease)
        {
            <div class="card">
                <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id" class="card__cover">
                    <img src="~/img/games/@item.PicturePath" alt="">
                    <span class="card__new">New</span>
                </a>

                <ul class="card__platforms">
                    <li class="ps" style="background-color:black;">
                        <img width="100%" style="object-fit:fill;" src="~/img/partners/@item.PlatformLogo" alt="" />
                    </li>
                </ul>

                <div class="card__title">
                    <h3><a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id">@item.GameName</a></h3>
                    @if (item.DiscountRate != 0)
                    {
                        var discountedPrice = (item.UnitPrice * (100 - item.DiscountRate) / 100).ToString("N2");
                        <span>$@discountedPrice<s>$@item.UnitPrice</s></span>
                    }
                    else
                    {
                        <span>$@item.UnitPrice</span>
                    }
                </div>

                <div class="card__actions">
                    <a data-add-item="@item.Id" href="#" class="card__buy" type="button">Buy Now</a>
                </div>
            </div>
        }

    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--pre">Future Release</h2>

                    <div class="section__nav-wrap">
                        <a asp-controller="Home" asp-action="Categories" class="header__login">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel2">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel2">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel2">
        <!-- card -->
        @foreach (var item in Model.ProductsPreOrders)
        {
            <div class="card">
                <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id" class="card__cover">
                    <img src="~/img/games/@item.PicturePath" alt="">
                    <span class="card__preorder">Pre Order</span>
                </a>

                <ul class="card__platforms">
                    <li class="ps" style="background-color:black;">
                        <img width="100%" style="object-fit:fill;" src="~/img/partners/@item.PlatformLogo" alt="" />
                    </li>
                </ul>

                <div class="card__title">
                    <h3><a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id">@item.GameName</a></h3>
                    @if (item.DiscountRate != 0)
                    {
                        var discountedPrice = (item.UnitPrice * (100 - item.DiscountRate) / 100).ToString("N2");
                        <span>$@discountedPrice<s>$@item.UnitPrice</s></span>
                    }
                    else
                    {
                        <span>$@item.UnitPrice</span>
                    }
                </div>

                <div class="card__actions">
                    <a data-add-item="@item.Id" href="#" class="card__buy" type="button">Buy Now</a>
                </div>
            </div>
        }
        <!-- end card -->
    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<section class="section">
    <div class="container">
        <div class="row">
            <!-- title -->
            <div class="col-12">
                <div class="section__title-wrap">
                    <h2 class="section__title section__title--pre">On Sale</h2>

                    <div class="section__nav-wrap">
                        <a asp-controller="Home" asp-action="Categories" class="header__login">View All</a>

                        <button class="section__nav section__nav--prev" type="button" data-nav="#carousel3">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='328 112 184 256 328 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>

                        <button class="section__nav section__nav--next" type="button" data-nav="#carousel3">
                            <svg xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'><polyline points='184 112 328 256 184 400' style='fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' /></svg>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end title -->
        </div>
    </div>

    <!-- carousel -->
    <div class="owl-carousel section__carousel section__carousel--catalog" id="carousel3">
        <!-- card -->
        @foreach (var item in Model.ProductsOnSale)
        {
            <div class="card">
                <a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id" class="card__cover">
                    <img src="~/img/games/@item.PicturePath" alt="">
                    <span class="card__preorder">On Sale</span>
                </a>

                <ul class="card__platforms">
                    <li class="ps" style="background-color:black;">
                        <img width="100%" style="object-fit:fill;" src="~/img/partners/@item.PlatformLogo" alt="" />
                    </li>
                </ul>

                <div class="card__title">
                    <h3><a asp-controller="Home" asp-action="Details" asp-route-productId="@item.Id">@item.GameName</a></h3>
                    @if (item.DiscountRate != 0)
                    {
                        var discountedPrice = (item.UnitPrice * (100 - item.DiscountRate) / 100).ToString("N2");
                        <span>$@discountedPrice<s>$@item.UnitPrice</s></span>
                    }
                    else
                    {
                        <span>$@item.UnitPrice</span>
                    }
                </div>

                <div class="card__actions">
                    <a data-add-item="@item.Id" href="#" class="card__buy" type="button">Buy Now</a>
                </div>
            </div>
        }
        <!-- end card -->

    </div>
    <!-- end carousel -->
</section>
<!-- end section -->
<!-- section -->
<div class="section section--last">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partners owl-carousel">
                    <a href="#" class="partners__img">
                        <img src="~/img/partners/steam.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/epic.png" class="w-50" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/origin.png" class="w-50" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/ps5.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/ubisoft.png" alt="">
                    </a>

                    <a href="#" class="partners__img">
                        <img src="~/img/partners/xbox.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
@section Scripts{
    <script>
    $("[data-add-item]").click(function (event) {
        event.preventDefault();
        var id = $(this).data("add-item");
        $.ajax({
            url: "@Url.Action("AddToCart", "Cart")",
            type: "post",
            data: { productId: id, quantity: 1 },
            success: function (data) {
            $("#navCartItemsCount").text(data.totalItemsCount);
            toastr.success("The item has been added to cart.");
            }
        })
    });

    </script>
}