@model List<IndexGameViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-admin">
    <thead>
        <tr>
            <th>
                Game Image
            </th>
            <th>
                Game Name
            </th>
            <th>
                Publisher
            </th>
            <th>
                Developer
            </th>
            <th>
                Release Date
            </th>
            <th>
                Genres
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="~/img/games/@item.ImagePath" alt="Alternate Text" style="object-fit: contain; max-width: 50px; max-height: 50px;" class="w3-margin-bottom">
                </td>
                <td>
                    @item.GameName
                </td>
                <td>
                    @item.Publisher
                </td>
                <td>
                    @item.Developer
                </td>
                <td>
                    @item.ReleaseDate.ToShortDateString()
                </td>
                <td>
                    @item.GenreNames
                </td>
                <td>
                    <form class="d-inline-block ms-auto" asp-controller="Game" asp-action="Delete" method="post" onsubmit="return confirm('Are you sure to delete this item?');">
                        <input type="hidden" name="gameId" value="@item.Id" />
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <a asp-controller="Game" asp-action="Edit" asp-route-gameId="@item.Id" class="btn btn-warning">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
